#card_card {
  min-height: 300px;
}

#slashed {
  color: rgb(202, 2, 2);
  font-size: 10pt;
  text-decoration: line-through;
}

#item_name {
  text-align: left;
}

#card_deets {
  padding-left: 15px;
}

#card_card:hover {
  transform: translateY(-5px);
  box-shadow: var(--bs-box-shadow) !important;
}

#pro_page_add{
  background-color: #080561;
  border-radius: 5px;
  color: #fff;
}

#pro_page_add:hover{
  background-color: #fff;
  color: #080561;
  border: 1px solid #080561;
}